

/* ==|== primary styles =====================================================
   Author: Blond
   ========================================================================== */

body{
	background: url('../img/background.jpg');
	background-size: cover;
	font-family: arial;
}
header{
	width: 650px;
	margin: 0 auto;
}
h1{
	
	height:90px;
	background: url('../img/header.png');
	text-indent: -9999px;
}

menu li{
	display: block;
	width: 216px;
	list-style: none;
	float: left;
	color: #a0a1a1;
}
a, a:visited, a:hover{
	color: #a0a1a1;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#secondeLI{
	text-align: center;
}
#thirdLI{
	text-align: right;
}
#main{
	clear: both;
}
#main{
	
	width:857px;
	margin: 50px auto;
	background: url('../img/fondCartouche.png'),no-repeat;
	padding-bottom: 15px;
	overflow: hidden
}
.cartouche{
	
	width: 830px;
	margin: 0 12px;

	float: left;
}

	
.actif{
	display: block;
	left: 0;
}
.cartouche h2{
	font-size:3.25em;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #995e5f;
	height: 104px;
	padding-top:55px;
	width: 338px;
}
.inside {
	width :832px;
	height :437px;
	-moz-box-shadow: inset -3px 3px 10px #383434;
	-webkit-box-shadow: inset -3px 3px 10px #383434;
	box-shadow: inset -3px 3px 10px #383434;
	position: relative;
}
.inside .carte{
	float:left;
	width: 507px;
	height:100%;

}
#slider{
	width: 50000px;
	height: 609px;
	position: relative;
}
#ville1 .carte{
	background: url('../img/carte.png')
}
#ville2 .carte{
	background: url('../img/carteLyon.jpg')
}
.inside .wall h3{
	width: 325px;
	height: 45px;
	text-transform: uppercase;
	color: #F0DDDD;
	text-align: center;
	float: right;
	line-height: 45px;
}
.inside .wall {
	overflow-y: scroll;
	overflow-x:hidden;
	height: 380px;
width: 320px;

}
/***********Infobull*/
.inside .carte .check{
	background-image: url('../img/check.png');
	width: 34px;
	height: 42px;
	cursor: pointer;
	position: relative;
	top :350px;
	left: 160px;
}
.inside .carte .infoBull{
	background-image: url('../img/bulle.png');
	width: 199px;
	height: 294px;
	position: relative;
	top: 10px;
	left: 80px;
	display: none;
	
}
#ville2 .inside .carte .infoBull{
	background-image: url('../img/bulleLyon.png');
}



#leftArrow{
	
	width: 100px;
	height: 156px;
	position: absolute;
	left: 10%;
	top: 440px;
	cursor: pointer;
}
.toulouse #rightArrow{
	background: url('../img/dateFinToulouse.png');
	
}

.toulouse #leftArrow{
	background: url('../img/dateDebutToulouse.png');
	
}

.lyon #rightArrow{
	background: url('../img/dateFinLyon.png');
	
}

.lyon #leftArrow{
	background: url('../img/dateDebutLyon.png');
	
}


.rennes #rightArrow{
	background: url('../img/dateFinRennes.png');
	
}

.rennes #leftArrow{
	background: url('../img/dateDebutRennes.png');
	
}


#rightArrow{
	
	width: 100px;
	height: 156px;
	position: absolute;
	right: 10%;
	top: 440px;
	cursor: pointer;
	
}


#soon{
	background: url('../img/soon.png');
}

#participer{
	background: url('../img/participer.png');
	height: 426px;
	width:854px;
}

h3{
	float: right;
}
